<section class="p-6 grid grid-cols-3 gap-6">
    <div class="container mt-4">
        <h3 class="text-center mb-4 text-2xl font-semibold">Quản Lý Danh Sách Sản Phẩm</h3>
        
        <table class="table table-striped table-bordered table-hover" style="table-layout: auto;">
            <thead class="bg-light text-dark">
                <tr>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">ID</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Name</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Price</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Image</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Quantity</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Dimension</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Manufacturer</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Page</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Author</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Publisher</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Publisher Year</th>
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Text Product</th>
                    <!-- Thêm cột sửa và xóa -->
                    <th class="py-3 px-4 text-center" style="background-color: #e7eef4;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <td class="py-2 px-4 text-center">{{this.id_product}}</td>
                        <td class="py-2 px-4 text-center">{{this.name_product}}</td>
                        <td class="py-2 px-4 text-center">{{this.price}}</td>
                        <td class="py-2 px-4 text-center">
                            <img src="{{this.image_product}}" class="img-thumbnail" alt="{{this.name_product}}" width="50">
                        </td>
                        <td class="py-2 px-4 text-center">{{this.quantity}}</td>
                        <td class="py-2 px-4 text-center">{{this.dimension}}</td>
                        <td class="py-2 px-4 text-center">{{this.manufacturer}}</td>
                        <td class="py-2 px-4 text-center">{{this.page}}</td>
                        <td class="py-2 px-4 text-center">{{this.author}}</td>
                        <td class="py-2 px-4 text-center">{{this.publisher}}</td>
                        <td class="py-2 px-4 text-center">{{this.publisher_year}}</td>
                        <td class="py-2 px-4 text-center">{{this.text_product}}</td>
                        <!-- Cột Actions với icon Sửa và Xóa -->
                        <td class="py-2 px-4 text-center">
                            <a href="/edit/{{this.id_product}}" class="text-primary" title="Sửa">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="/delete/{{this.id_product}}" class="text-danger ml-3" title="Xóa" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?');">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>   
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
